## Import modules and helper functions

In [8]:
import pandas as pd
from sklearn.metrics import mean_absolute_error as mae

## Import data

In [14]:
ratings = pd.read_excel('Metric-SpreadSheet-Assignment1_.xlsx', sheet_name='ratings')
ratings = ratings.set_index("Users")
ratings

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Users,,,,,,,,,,
5136,4.5,5.0,5.0,4.0,5.0,5.0,5.0,3.0,NaN,5.0
918,5.0,5.0,4.5,NaN,3.0,NaN,5.0,NaN,5.0,NaN
2824,4.5,NaN,5.0,NaN,4.5,4.0,NaN,NaN,5.0,NaN
860,4.0,4.0,4.5,NaN,2.5,3.0,NaN,4.0,4.5,NaN
442,3.0,NaN,3.0,4.0,1.0,5.0,3.0,2.0,4.0,5.0
3556,4.0,4.0,4.0,4.0,3.0,5.0,NaN,NaN,NaN,4.0
5261,NaN,NaN,5.0,NaN,1.5,0.5,NaN,4.0,5.0,NaN
2492,4.5,3.5,3.5,3.5,4.0,4.0,NaN,4.0,4.0,5.0
4942,NaN,3.5,4.0,4.0,3.5,4.0,5.0,NaN,5.0,3.5
2267,NaN,NaN,3.5,NaN,NaN,5.0,1.5,NaN,4.0,NaN

In [15]:
predictions = pd.read_excel('Metric-SpreadSheet-Assignment1_.xlsx', sheet_name='predictions')
predictions = predictions.set_index("Users")
predictions

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Users,,,,,,,,,,
5136,4.1,4.3,4.7,3.7,3.8,4.8,3.2,4.1,NaN,4.4
918,4.0,2.3,4.6,NaN,2.6,NaN,4.4,NaN,5.0,NaN
2824,4.7,NaN,4.8,NaN,3.9,4.2,NaN,NaN,4.2,NaN
860,4.0,3.0,3.8,NaN,4.1,3.6,NaN,2.8,4.1,NaN
442,3.6,NaN,4.2,3.0,2.2,4.2,2.2,2.0,4.5,5.0
3556,4.3,4.7,3.7,2.0,4.4,4.1,NaN,NaN,NaN,4.3
5261,NaN,NaN,4.6,NaN,3.5,1.7,NaN,4.0,4.5,NaN
2492,4.1,2.7,4.2,4.3,3.3,3.3,NaN,4.0,3.2,4.6
4942,NaN,2.4,3.3,5.0,4.2,4.6,4.4,NaN,4.2,4.1
2267,NaN,NaN,3.9,NaN,NaN,4.4,2.6,NaN,2.5,NaN

## 1.  Compute the mean absolute error for each user.

In [87]:
mae_users = round(abs(ratings - predictions).sum(axis=1)/(ratings - predictions).count(axis=1),4)
mae_users.sort_values(ascending=False)

Users
2267    0.9000
3556    0.8429
5261    0.8200
918     0.8000
860     0.7857
4942    0.7625
5136    0.7333
442     0.6778
2492    0.5889
2824    0.4000
dtype: float64

## 2. Compute the mean absolute error associated with the predictions for each movie.

In [88]:
mae_movies = round(abs(ratings - predictions).sum()/(ratings - predictions).count(),4)
mae_movies.sort_values(ascending=False)

12: Finding Nemo (2003)                                                               1.1667
22: Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     1.0889
14: American Beauty (1999)                                                            1.0200
38: Eternal Sunshine of the Spotless Mind (2004)                                      0.9800
77: Memento (2000)                                                                    0.6625
24: Kill Bill: Vol. 1 (2003)                                                          0.6444
13: Forrest Gump (1994)                                                               0.5000
63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                         0.4600
11: Star Wars: Episode IV - A New Hope (1977)                                         0.4143
85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.3800
dtype: float64

## 3.1. The overall MAE, which averages over all predictions

In [71]:
s = abs(ratings - predictions).sum(axis=1)
c = (ratings - predictions).count(axis=1)

round(s.sum()/c.sum(),4)

0.7246

## 3.2. The by-user MAE, which averages the MAEs of each user

In [72]:
round(mae_users.mean(),4)

0.7311

## 3.3. The by-movie MAE, which averages the MAEs of each movie

In [73]:
round(mae_movies.mean(),4)

0.7317

## 4. Compute the MSE and RMSE for each user

In [58]:
sqr = (ratings - predictions)**2

In [90]:
mse_users = sqr.sum(axis=1)/sqr.count(axis=1).sort_values()
round(mse_users,4)

Users
442     0.6411
860     0.8586
918     1.4700
2267    0.9950
2492    0.4122
2824    0.2240
3556    1.0757
4942    0.6137
5136    0.7911
5261    1.1700
dtype: float64

In [93]:
rmse_users = mse_users**0.5
round(rmse_users.sort_values(ascending=False),3)

Users
918     1.212
5261    1.082
3556    1.037
2267    0.997
860     0.927
5136    0.889
442     0.801
4942    0.783
2492    0.642
2824    0.473
dtype: float64

## 5. Compute the overall MSE and RMSE across all predictions

In [94]:
mse_overall = sqr.sum().sum()/sqr.count().sum()
rmse_overall = mse_overall**0.5

print("MSE overall:", round(mse_overall,3), ", RMSE overall:", round(rmse_overall,3))

MSE overall: 0.794 , RMSE overall: 0.891

## 6. Compute the correlation between ratings and predictions

In [96]:
c = round(ratings.corrwith(predictions, axis = 1).sort_values(ascending=False),3)
c

Users
5261    0.921
442     0.774
2267    0.634
918     0.459
2492    0.414
4942    0.348
2824    0.348
5136    0.170
3556   -0.096
860    -0.148
dtype: float64

In [97]:
round(c.mean(),3)

0.382